*,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;

}

.stop-off {
    display: none;
}



img {
    height: 20vh;
}

button {
    width: 30%;
    height: 10vh;
    margin-top: 5vh;
}